@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap'); */

*{
    margin: 0;
    padding: 0;
    border: none;
}

*, :after, :before {
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-weight: 300;
    background: #fff;
    color:  #403f3f;
}




/* header */
/* 
header {
    
    height:30 px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
}

header > h1{
    text-align: center;
    font-weight: 300;
    
} */
 


/* navigation */
/* 
header > nav {
    text-align: right;
}

nav > a{
   
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flexbox;
    margin-inline: 5px;
    margin-right: 30px;  
    color:  #403f3f;
    
} */

/* nav > li:hover {
    background-color:#403f3f ;
    color:#fff;
} */

/* .active {
    background-color:#403f3f ;
    color:#fff;

} */
#image {
  clear: left; 
 height: 900px; 
 width: 100%;
 background: url('../images/get-motivated-minutes-morning-yoga.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

#bg-image-contact {
    clear: left; 
   height: 900px; 
   width: 100%;
   background: url('../images/449626.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
  }


/* gallery photos */

#gallery {
    margin-top: 900px;
    word-spacing: 4px;
}


#photos {
    clear: both;
    line-height: 0;
    column-gap: 0;
    column-count: 4;
  
}

#photos > img {
    width:100%;
}
#map{
    margin-top: 900px;
}
/* carousel */


/* footer  */

 footer {
    height: 200px;  
    
}

   .margin {
     margin-top: 800px;
    } 

   .links {
    text-align: center;
   }

   .links > li  {
    display: inline;
      }

   .links  i {
        font-size: 150%;
         margin: 1%; 
        padding: 1%;
        color:  #403f3f;
        /* color: #ea1b90; */
    }
}



/* Form */

#form-section {
    clear: left;
    background: url('..//images/get-motivated-minutes-morning-yoga.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.signup-form {
    margin: 110px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    border: 1px solid #ecbbbb;
     border-radius: 2px;
}

.signup-form > h2 {
    color:  #fafafa;
    margin-bottom: 20px;
    }

 .text-input {
     background: transparent;
     color: #fafafa;
     width: 100%;
     height: 25px;
     margin: 5px 0 20px;
     border: 1px solid #ecbbbb;
     border-radius: 2px;
 }
 
 .text-input:hover{
     border-color:#e6e4ee;
     background-color: #fff;
     
 }
 
 .join-button {
     margin-top:20px;
     border-radius: 2px;
     padding: 15px 32px 15px 32px;
     text-align: center;
     font-size: 100%;
     background-color: #f16c6b;
     color:#fafafa;
     display: block;
      }
      
    .join-button:hover{
        background-color: #fafafa;
        color: #f16c6b;
    }
 
  .about-us {
    style="background-color: azure;"
  }

    /* Address


    #contact-us {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400PX;
    height: 300px;
    position: absolute;
    padding: 20px;
    margin-top: 520px;
    left: 10%;
    border: 1px solid #ecbbbb;
     border-radius: 2px;
        }

    h2 {
        margin-left: 10%;
    }
    p {
        margin-left: 10%;
        word-spacing: 4px;
    } */
    



    /* Media queries  */

/* for larger to medium screen from 1200px wide an down */

@media screen and (max-width: 1200px) {
   



}
/* for media screen sizes from 950 px wid and down*/
@media screen and (max-width: 950px) {    

    #photos {
        column-count: 3;
    }
}
/* media query for 800px and down */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    
}

 
   
       