@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    /* font-family: Montserrat, sans-serif; */
    font-family: 'Josefin-Slab';
    font-family: 'Architects-Daughter';
    */ font-weight: 300;
    */ background: #fff;
    color: #403f3f;
}
.jumbotron{
    margin-bottom: 0;
    background-color: #fff;     
}
.navbar {
    margin-top: 0;
    margin-bottom:  0;

}

.imglist{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
h2{
    padding: 3rem;
    background-color: #fff;
}

/* Background image for Meet the teacher section */
#meet-teacher {
    clear: left;
    height: auto;
    width: 100%;
    background: url('../images/get-motivated-minutes-morning-yoga-min.jpg');
    padding: auto;
    background-color: rgb(128, 104, 151);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 1%;
   

}
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    /* padding: 2rem; */
  }
  
  div.transbox p {
    
    font-weight: bold;
    color: #000000;
  }

/* #sign-up {
    clear: left;
    height: 400px;
    width: 100%;
    background: url('../images/international-yoga-day-poster-with-silhouettes-posing-vector.jpg');
    
    background-color: blueviolet;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

} */

/* Background image for Home page */

#image {
    clear: left;
    height: 900px;
    width: 100%;
    background: url('../images/Mindfulness-Yoga-min.jpg');
    background-color: blueviolet;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* Background image for Contact Page */
/* #bg-image-contact {
    clear: left;
    height: 900px;
    width: 100%;
    background: url('https://res.cloudinary.com/sconnections/image/upload/v1652443105/sconnections/449626_rb15ih.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: blueviolet;
} */


/* gallery photos */

#gallery {
    margin-top: 900px;
    word-spacing: 4px;
    height: auto;
}


#photos {
    clear: both;
    line-height: 0;
    column-gap: 0;
    column-count: 4;

}

#photos>img {
    width: 100%;
}

#map {
    margin: 1%;
}


/* footer  */

footer {
    height: 250px;
    background-color: #101010;
    color:#fff;
    /* background-color: rgb(0, 162, 255); */
}



.links {
    text-align: center;
}

.links>li {
    display: inline;
}

.links i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    /* color: #403f3f; */
    color: #fff;

}





/* Form  */

#form-section {
    clear: left;
    background: url('https://res.cloudinary.com/sconnections/image/upload/v1652443105/sconnections/449626_rb15ih.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.signup-form {
    margin: 110px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 50px;
    border: 1px solid #ecbbbb;
    border-radius: 2px;
}


/* Media queries  */

/* for larger to medium screen from 1200px wide an down */

@media screen and (max-width: 1200px) {}

/* for media screen sizes from 950 px wid and down*/
@media screen and (max-width: 950px) {

    #photos {
        column-count: 3;
    }
}

/* media query for 800px and down */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;

    }

    .signup-form {
        max-width: 50%;
    }
}

/* media query for 400px and down */
@media screen and (max-width: 500px) {
    #photos {
        column-count: 2;

    }

    .signup-form {
        max-width: 80%;
    }
}