@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #403f3f;
    background: #fff;
}


/* header */

header {
    /* color:#fff; */
    height:30 px;
    width: 100%;
    /* background-color:  rgba(60, 60, 60, 0.6); */
    font-size: 20px;
    text-transform: uppercase;
}

header > h1 {
    text-align: center;
    font-weight: 200;
}
/*  
#logo {
    text-align: center;
    height: 10%;
    width:10%;
    margin-top: 0;
    padding: 0;
}
*/
/* navigation */

header > nav {
    text-align: right;
}

nav > a{
    /* color: #fff; */
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flexbox;
    margin-inline: 5px;
    
}

#image {
 height: 800px;
 width: 100%;
 background: url('..//images/Mindfulness-Yoga.jpg');
 background-repeat: no-repeat;
}

/* gallery photos */

#photos {
    clear: both;
    line-height: 0;
    column-gap: 0;
    column-count: 4;
  
}

#photos > img {
    width:100%;
}

/* footer  */


footer {
    height: 200px;
    /* background-color:  rgba(60, 60, 60, 0.6); */
    margin-top: 700px;
    text-align: center;
}



/* Form */

.form-section {
    clear: left;
    background: url("../images/Mindfulness-Yoga.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color:  #fafafa;
    margin-bottom: 20px;
}

 .text-input {
     background: transparent;
     color: #fafafa;
     width: 100%;
     height: 25px;
     margin: 5px 0 20px;
     border: 1px solid #fafafa;
     border-radius: 2px;
 }
 
 .text-input:hover{
     border-color:#f16c6b;
 }
 
 .join-button {
     margin-top:20px;
     border-radius: 2px;
     padding: 15px 32px 15px 32px;
     text-align: center;
     font-size: 100%;
     background-color: #f16c6b;
     color:#fafafa;
     display: block;
      }
      
    .join-button:hover{
        background-color: #fafafa;
        color: #f16c6b;
    }
/*  
#image-logo {
    height: 10px;
    width: 200%;
    border: none;
}
 */
