* {
    margin: 0;
    padding: 0;
    border: none;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;

    font-family: 'Josefin-Slab';
    font-family: 'Architects-Daughter';
    font-weight: 300;
    background: #fff;
    color: #403f3f;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #fff;
}

/* navigation bar  */
.navbar {
    margin-top: 0;
    margin-bottom: 0;

}

/* contact form  */

.btn {
    font-weight: bold;
    color: #fff;
    background-color: #101010;
}

.form-control {
    border-color: #101010;

}

/*  Meet the teacher section */
#meet-teacher {
    clear: left;
    height: auto;
    width: 100%;
    background: url('../images/get-motivated-minutes-morning-yoga-min.jpg');
    background-color: rgb(128, 104, 151);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 1%;
}

#meet-teacher h2 {
    padding: 3rem;
    background-color: #fff;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;

}

div.transbox p {

    font-weight: bold;
    color: #000000;
}

div.transbox h3 {
    color: #000000;
}

div.transbox h2 {
    color: #000000;
}


/* Background image for Home page */

#image {
    clear: left;
    height: 900px;
    width: 100%;
    background: url('../images/Mindfulness-Yoga-min.jpg');
    background-color: blueviolet;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}




/* gallery photos */

#gallery {
    margin-top: 900px;
    word-spacing: 4px;
    height: auto;
}

.imglist {
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/* footer  */

footer {
    height: 250px;
    background-color: #101010;
    color: #fff;

}


.links {
    text-align: center;
}

.links>li {
    display: inline;
}

.links i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: #fff;

}

span {
    background-color: #fff;
}

/* About -Us  */
.about-us {
    margin: 110px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 50px;
    border: 1px solid #ecbbbb;
    border-radius: 2px;
}

.myiframe {
    width: 100%;
    height: 300px;
    border: none;
}